html {
    position: relative;
}

body {
    margin-top: 80px;
}

.logo,
.menu,
.daftar {
    display: none;
}

.logo {
    margin-top: 120px;
    margin-bottom: 80px;
}

.img-logo {
    width: 100%;
}

.menu-tombol,
.menu-tombol-generik,
.menu-tombol-bermerek {
    font-size: 14pt;
}